In [2]:
import pandas as pd

In [4]:
draft = pd.read_csv("2015_draft_data.csv")
draft.head()

,draft_id,draft_Player,draft_All_NBA,draft_All_Star,draft_Draft_Yr,draft_Pk,draft_Team,draft_College,draft_Yrs,draft_Games,...,draft_Executive,draft_Tenure,draft_Exec_ID,draft_Exec_draft_exp,draft_attend_college,draft_first_year,draft_second_year,draft_third_year,draft_fourth_year,draft_fifth_year
0,274,Chris McCullough,0,0,2015,29,NJN,Syracuse University,1,24,...,Billy King,2006 days 00:00:00.000000000,10,14,1,1,0,0,0,0
1,275,Pat Connaughton,0,0,2015,41,NJN,University of Notre Dame,1,34,...,Billy King,2006 days 00:00:00.000000000,10,14,1,1,0,0,0,0
2,573,Kevon Looney,0,0,2015,30,GSW,University of California Los Angeles,1,5,...,Bob Myers,1620 days 00:00:00.000000000,17,2,1,1,0,0,0,0
3,859,Jarell Martin,0,0,2015,25,MEM,Louisiana State University,1,27,...,Chris Wallace,865 days 00:00:00.000000000,30,10,1,1,0,0,0,0
4,896,Marcus Thornton,0,0,2015,45,BOS,College of William & Mary,0,0,...,Danny Ainge,4893 days 00:00:00.000000000,32,13,1,1,0,0,0,0

In [6]:
nba = pd.read_csv("2016_nba_data.csv")
nba.head()

,nba_Year,nba_Tm,nba_Player,nba_Age,nba_G,nba_MP,nba_PER,nba_TS%,nba_3PAr,nba_FTr,...,nba_D-WORP,nba_Adjusted WORP,nba_Estimated Position,nba_BBRef Pos,nba_Age on Feb 1,nba_Yrs Experience,nba_Height,nba_Weight,nba_Rounded Position,nba_Rounded Age
0,2016,ATL,Paul Millsap,30,9,312,22.5,0.581,0.333,0.423,...,5.7,15.7,3.6,4.0,30.97,9.0,80.0,246.0,4.0,31.0
1,2016,ORL,Victor Oladipo,23,8,308,14.5,0.454,0.313,0.134,...,3.9,3.9,2.1,2.0,23.75,2.0,76.0,210.0,2.0,24.0
2,2016,ORL,Evan Fournier,23,8,302,15.4,0.580,0.408,0.208,...,-2.8,3.7,2.3,3.0,23.26,3.0,79.0,205.0,2.0,23.0
3,2016,IND,George Hill,29,8,299,16.3,0.602,0.495,0.363,...,3.0,10.8,1.3,1.0,29.75,7.0,75.0,188.0,1.0,30.0
4,2016,POR,Damian Lillard,25,8,293,26.3,0.602,0.424,0.242,...,-5.1,15.0,1.0,1.0,25.55,3.0,75.0,195.0,1.0,26.0

In [10]:
df = pd.merge(draft, nba, how = "inner",
              left_on = "draft_Player", right_on = "nba_Player")
df

,draft_id,draft_Player,draft_All_NBA,draft_All_Star,draft_Draft_Yr,draft_Pk,draft_Team,draft_College,draft_Yrs,draft_Games,...,nba_D-WORP,nba_Adjusted WORP,nba_Estimated Position,nba_BBRef Pos,nba_Age on Feb 1,nba_Yrs Experience,nba_Height,nba_Weight,nba_Rounded Position,nba_Rounded Age
0,275,Pat Connaughton,0,0,2015,41,NJN,University of Notre Dame,1,34,...,-0.3,0.0,1.8,2.0,23.07,0.0,77.0,206.0,2.0,23.0
1,896,Marcus Thornton,0,0,2015,45,BOS,College of William & Mary,0,0,...,-3.0,2.3,1.9,2.0,28.66,6.0,76.0,205.0,2.0,29.0
2,897,Terry Rozier,0,0,2015,16,BOS,University of Louisville,1,39,...,-0.5,0.0,1.7,1.0,21.88,0.0,74.0,190.0,2.0,22.0
3,898,R.J. Hunter,0,0,2015,28,BOS,Georgia State University,1,36,...,-0.6,0.0,1.8,2.0,22.27,0.0,77.0,185.0,2.0,22.0
4,899,Jordan Mickey,0,0,2015,33,BOS,Louisiana State University,1,16,...,0.6,0.0,4.8,4.0,21.57,0.0,80.0,235.0,5.0,22.0
5,928,Sam Dekker,0,0,2015,18,HOU,University of Wisconsin,1,3,...,0.3,0.0,3.6,3.0,21.74,0.0,81.0,230.0,4.0,22.0
6,929,Montrezl Harrell,0,0,2015,32,HOU,University of Louisville,1,39,...,-1.4,0.0,3.6,4.0,22.02,0.0,80.0,240.0,4.0,22.0
7,1044,Trey Lyles,0,0,2015,12,UTA,University of Kentucky,1,80,...,0.1,0.0,4.1,4.0,20.24,0.0,82.0,234.0,4.0,20.0
8,1211,Justin Anderson,0,0,2015,21,DAL,University of Virginia,1,55,...,0.2,0.0,3.3,2.0,22.20,0.0,78.0,228.0,3.0,22.0
9,1440,Jerian Grant,0,0,2015,19,WAS,University of Notre Dame,1,76,...,-1.4,0.0,1.3,1.0,23.31,0.0,76.0,195.0,1.0,23.0
10,1450,Karl-Anthony Towns,0,0,2015,1,MIN,University of Kentucky,1,82,...,7.2,8.8,5.0,5.0,20.21,0.0,84.0,244.0,5.0,20.0
11,1533,Bobby Portis,0,0,2015,22,CHI,University of Arkansas,1,62,...,0.1,0.0,3.7,4.0,20.98,0.0,83.0,230.0,4.0,21.0
12,1871,Stanley Johnson,0,0,2015,8,DET,University of Arizona,1,73,...,0.8,0.2,3.3,3.0,19.68,0.0,79.0,245.0,3.0,20.0
13,2372,Rashad Vaughn,0,0,2015,17,MIL,University of Nevada Las Vegas,1,70,...,-2.1,0.0,2.5,2.0,19.46,0.0,78.0,202.0,3.0,20.0
14,2373,Norman Powell,0,0,2015,46,MIL,University of California Los Angeles,1,49,...,-0.6,0.0,2.6,2.0,22.69,0.0,76.0,215.0,3.0,23.0
15,2547,Myles Turner,0,0,2015,11,IND,University of Texas at Austin,1,60,...,1.3,-0.2,4.5,5.0,19.86,0.0,83.0,243.0,5.0,20.0
16,2548,Joseph Young,0,0,2015,43,IND,University of Oregon,1,41,...,0.1,0.0,1.0,1.0,23.60,0.0,74.0,180.0,1.0,24.0
17,2672,Delon Wright,0,0,2015,20,TOR,University of Utah,1,27,...,-0.2,0.0,2.4,1.0,23.77,0.0,77.0,190.0,2.0,24.0
18,2698,Kelly Oubre,0,0,2015,15,ATL,University of Kansas,1,63,...,-0.8,0.0,2.2,3.0,20.15,0.0,79.0,205.0,2.0,20.0
19,2750,D'Angelo Russell,0,0,2015,2,LAL,Ohio State University,1,80,...,-3.1,0.0,1.8,1.0,19.94,0.0,77.0,195.0,2.0,20.0
20,2751,Larry Nance Jr.,0,0,2015,27,LAL,University of Wyoming,1,63,...,-2.0,0.0,4.3,3.5,23.08,0.0,81.0,230.0,4.0,23.0
21,2752,Anthony Brown,0,0,2015,34,LAL,Stanford University,1,29,...,-0.5,0.0,2.2,3.0,23.31,0.0,79.0,210.0,2.0,23.0
22,2765,Rondae Hollis-Jefferson,0,0,2015,23,POR,University of Arizona,1,29,...,2.6,0.0,3.3,3.0,21.08,0.0,79.0,220.0,3.0,21.0
23,2910,Justise Winslow,0,0,2015,10,MIA,Duke University,1,78,...,4.2,3.9,3.0,3.0,19.85,0.0,79.0,225.0,3.0,20.0
24,2911,Josh Richardson,0,0,2015,40,MIA,University of Tennessee,1,52,...,0.1,0.0,1.9,1.5,22.38,0.0,78.0,200.0,2.0,22.0
25,3099,Kristaps Porzingis,0,0,2015,4,NYK,0,1,72,...,0.2,1.8,5.0,4.0,20.50,0.0,87.0,240.0,5.0,21.0
26,3326,Frank Kaminsky,0,0,2015,9,CHA,University of Wisconsin,1,81,...,-0.7,0.8,4.0,5.0,22.83,0.0,84.0,242.0,4.0,23.0
27,3370,Mario Hezonja,0,0,2015,5,ORL,0,1,79,...,-1.7,0.0,2.7,3.0,20.93,0.0,80.0,215.0,3.0,21.0
28,3547,Devin Booker,0,0,2015,13,PHO,University of Kentucky,1,76,...,0.4,0.0,2.3,2.0,19.26,0.0,78.0,206.0,2.0,19.0
29,3559,Jahlil Okafor,0,0,2015,3,PHI,Duke University,1,53,...,-3.6,-0.2,4.8,5.0,20.13,0.0,83.0,275.0,5.0,20.0
30,3561,Richaun Holmes,0,0,2015,37,PHI,Bowling Green State University,1,51,...,-0.3,0.0,4.0,4.0,22.30,0.0,82.0,245.0,4.0,22.0
31,3587,Cameron Payne,0,0,2015,14,OKC,Murray State University,1,57,...,-0.4,0.0,1.0,1.0,21.48,0.0,75.0,185.0,1.0,22.0
32,3820,Emmanuel Mudiay,0,0,2015,7,DEN,0,1,68,...,1.2,-0.8,1.6,1.0,19.91,0.0,77.0,200.0,2.0,20.0
33,3852,Willie Cauley-Stein,0,0,2015,6,SAC,University of Kentucky,1,66,...,2.9,3.5,5.0,5.0,22.46,0.0,84.0,240.0,5.0,23.0